{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gordon Property MS | Create Account</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    {% tailwind_css %}
</head>

<body>

    <div class="min-h-screen py-20 px-32 bg-gray-900 bg-cover bg-center">
    <div class="min-h-10 flex flex-col-2 justify-center">

    <!--Start of Body-->    
        <div class="bg-gray-200 flex flex-col-1 rounded-lg drop-shadow-lg h-auto w-[90%]">
        
            <div class="left-0 w-[40%] rounded-l-lg h-full bg-gray-900">
                <img class="object-fill w-full h-full" src="https://images.pexels.com/photos/11124896/pexels-photo-11124896.jpeg" alt="">
            </div>
            
        

        <div class=" bg-green-800  h-auto w-[60%] p-4">
            <div class="flex justify-end p-2 right mt-1 mr-5 ">
            <h3 class="text-yellow-400 text-sm">Already Have An Account? <a href="#"><span class="font-semibold text-green-950">Login</span></a></h3>
            </div>

            <div class="justify-center items-center mt-6 mb-5 ml-10 mx-auto">
            <h1 class="text-gray-100 justify-center font-bold text-4xl">Create Your Account Below</h1>
            <span class=" text-sm text-gray-100 text-wrap text-justify">Managing Your Property Ledger, Accountancy and Day-To-Day <br> Activites has never been this easy...</span>
            </div>

            <div class=" hidden justify-center items-center p-2 mt-16 ml-16">
            <h1 class="text-gray-100 font-semibold justify-center"><span class="italic text-sm">Good To See You Champ...</span>  <br> <span class="font-bold text-3xl">Create Your Account Below</span> </h1>
            </div>
            
            
          
            <!--Start: User Category Selector-->
            <div class="w-[90%] object-center justify-center items-center p-2 mx-auto mt-8">
                <div class="radio-container">
                    <h3 class="mb-2 text-lg font-medium text-gray-900 dark:text-white">Tell Us What Best Describes You:</h3>
                    <ul class="flex flex-col w-full gap-3 justify-center mx-auto">
                        <li class="flex-grow w-full">
                        <input type="radio" id="solo-option" name="user-category" value="solo" class="hidden peer" required="">
                        <label for="solo-option" class="inline-flex items-center justify-between w-full p-5 text-yellow-500 bg-green-800 border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-yellow-600 peer-checked:border-yellow-100 hover:text-yellow-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-yellow-600 dark:bg-green-950 dark:hover:bg-yellow-900">                           
                        <div class="flex w-full">
                        <div class="w-[10%] overflow-hidden justify-center items-center mt-2">
                        <i class="ri-user-line text-6xl"></i>
                        </div>
                        <div class="w-[90%] text-lg font-semibold ml-2">
                        <h1 class="font-semibold text-gray-200">I'm a Solo Property Owner</h1>
                        <div class="w-full text-sm mt-3">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy
                        </div>
                        </div>
                        </div>
                        </label>
                        </li>
                    </ul>
            
                    <ul class="flex flex-col w-full gap-5 mt-3 justify-center mx-auto">
                        <li class="flex-grow w-full">
                        <input type="radio" id="organization-option" name="user-category" value="organization" class="hidden peer" required="">
                        <label for="organization-option" class="inline-flex items-center justify-between w-full p-5 text-yellow-500 bg-green-800 border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-yellow-600 peer-checked:border-yellow-100 hover:text-yellow-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-yellow-600 dark:bg-green-950 dark:hover:bg-yellow-900">                           
                        <div class="flex w-full">
                        <div class="w-[10%] overflow-hidden justify-center items-center mt-2 mr-2">
                        <i class="ri-group-line text-6xl"></i>
                        </div>
                        <div class="w-[90%] text-lg font-semibold ml-2">
                        <h1 class="font-semibold text-gray-200">We are an Organization/Agency</h1>
                        <div class="w-full text-sm mt-3">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy
                        </div>
                        </div>
                        </div>
                        </label>
                        </li>
                    </ul>
            
                    <div class="mt-7 w-full mx-auto">
                        <button type="button" class="w-full px-4 py-2 hover:bg-yellow-600 bg-yellow-700 font-bold text-white rounded-md">Continue</button>
                    </div>
                </div>
            </div>
            <!--End: User Category Selector-->


            
            <!-- Start: Account Creation Details Form For Solo, Individuals -->
            <div id="solo-form" class="hidden w-[90%] object-center justify-center items-center p-2 mx-auto">
                <h3 class="mb-2 text-lg font-medium text-gray-900 dark:text-white">So you are a lone fighter:</h3>
                <!-- Solo form fields go here -->
                <form method="post" enctype="multipart/form-data" class="grid grid-cols-1 md:grid-cols-2 gap-3">
                    {% csrf_token %}
                    {% for field in solo_form %}
                    <div class="flex flex-col">
                    <label for="{{ field.id_for_label }}" class="block text-sm text-yellow-600">{{ field.label }}<span class="text-red-700 ml-1">*</span></label>
                    <input type="{{ field.field.widget.input_type }}" id="{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.label }}" class="w-full text-sm px-3 rounded-md focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500">
                    </div>
                    {% endfor %}
                    <div class="mx-auto justify-start left p-2 w-full mt-1">
                        <h3 class="font-semibold text-gray-50">Terms of Use</h3>
                        <input type="checkbox" id="solo-terms-checkbox" class="mr-2">
                        <span class="text-sm">I Accept and Agree to the </span>
                        <a href="#" class="text-yellow-700 font-bold">Terms of Use</a>
                    </div>

                    <div class="col-span-2">
                    <button type="submit" name="solo" class="w-full px-4 py-2 bg-gray-400 text-white rounded-md cursor-not-allowed" disabled>Continue</button>
                    </div>
                </form>
                <!-- <div id="back-button" class="mt-7 w-full mx-auto hidden">
                <button type="button" class="w-full px-4 py-2 hover:bg-yellow-600 bg-yellow-700 font-bold text-white rounded-md">Back</button>
                </div> -->
            </div>
            <!-- End: Account Creation Details Form For Solo, Individuals -->
    


           
            <!-- Start: Account Creation Details Form For Organization -->
            <div id="organization-form" class="hidden w-[90%] object-center justify-center items-center p-2 mx-auto">
                <h3 class="mb-2 text-lg font-medium text-gray-900 dark:text-white">We See You've got an Army:</h3>
                <!-- Organization form fields go here -->
                <form method="post" enctype="multipart/form-data" class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    {% csrf_token %}
                    {% for field in organization_form %}
                        <div class="flex flex-col">
                            <label for="{{ field.id_for_label }}" class="block text-sm text-yellow-600">{{ field.label }}<span class="text-red-700 ml-1">*</span></label>
                            <input type="{{ field.field.widget.input_type }}" id="{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.label }}" class="w-full text-sm px-3 rounded-md focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500">
                        </div>
                    {% endfor %}
                    <div class="mx-auto justify-start left p-2 w-full mt-1">
                        <h3 class="font-semibold text-gray-50">Terms of Use</h3>
                        <input type="checkbox" id="organization-terms-checkbox" class="mr-2">
                        <span class="text-sm text-gray-50">I Accept and Agree to the </span>
                        <a href="#" class="text-yellow-700 font-bold">Terms of Use</a>
                    </div>
                    <div class="col-span-2">
                        <button type="submit" name="organization" class="w-full px-4 py-2 bg-gray-400 text-white rounded-md cursor-not-allowed" disabled>Continue</button>
                    </div>
                    <div id="back-button" class="mt-7 w-full mx-auto hidden">
                    <button type="button" class="w-full px-4 py-2 hover:bg-yellow-600 bg-yellow-700 font-bold text-white rounded-md">Back</button>
                    </div>
                </form>
            </div>
        
         
        </div>
             <!-- End: Account Creation Details Form for Organization -->


        </div>
    </div>
    <!--End of Body-->    
    
    </div>
    </div>

    <script>

    // User Category Selector
    document.addEventListener("DOMContentLoaded", function () {
    const radioButtons = document.querySelectorAll('input[name="user-category"]');
    const continueButton = document.querySelector('button[type="button"]');
    const soloForm = document.getElementById('solo-form');
    const organizationForm = document.getElementById('organization-form');
    const radioContainer = document.querySelector('.radio-container');
    const backButton = document.querySelector('#back-button');

    // Initially hide the forms and the back button
    soloForm.classList.add('hidden');
    organizationForm.classList.add('hidden');
    backButton.classList.add('hidden');

    continueButton.addEventListener("click", function () {
        radioButtons.forEach(radio => {
            if (radio.checked) {
                if (radio.value === "solo") {
                    soloForm.classList.remove('hidden');
                    organizationForm.classList.add('hidden');
                } else if (radio.value === "organization") {
                    organizationForm.classList.remove('hidden');
                    soloForm.classList.add('hidden');
                }
                radioContainer.classList.add('hidden');
                backButton.classList.remove('hidden');
            }
        });
    });

    backButton.addEventListener("click", function () {
        soloForm.classList.add('hidden');
        organizationForm.classList.add('hidden');
        radioContainer.classList.remove('hidden');
        backButton.classList.add('hidden');
    });
});



        // Terms Checkbox
        document.addEventListener("DOMContentLoaded", function () {
            const soloTermsCheckbox = document.getElementById("solo-terms-checkbox");
            const organizationTermsCheckbox = document.getElementById("organization-terms-checkbox");
            const soloSubmitButton = document.querySelector("button[name='solo']");
            const organizationSubmitButton = document.querySelector("button[name='organization']");

            soloTermsCheckbox.addEventListener("change", function () {
                if (this.checked) {
                    soloSubmitButton.classList.remove("bg-gray-400", "cursor-not-allowed");
                    soloSubmitButton.classList.add("bg-yellow-600", "hover:bg-yellow-500", "focus:bg-yellow-700");
                    soloSubmitButton.disabled = false;
                } else {
                    soloSubmitButton.classList.remove("bg-yellow-600", "hover:bg-yellow-500", "focus:bg-yellow-700");
                    soloSubmitButton.classList.add("bg-gray-400", "cursor-not-allowed");
                    soloSubmitButton.disabled = true;
                }
            });

            organizationTermsCheckbox.addEventListener("change", function () {
                if (this.checked) {
                    organizationSubmitButton.classList.remove("bg-gray-400", "cursor-not-allowed");
                    organizationSubmitButton.classList.add("bg-yellow-600", "hover:bg-yellow-500", "focus:bg-yellow-700");
                    organizationSubmitButton.disabled = false;
                } else {
                    organizationSubmitButton.classList.remove("bg-yellow-600", "hover:bg-yellow-500", "focus:bg-yellow-700");
                    organizationSubmitButton.classList.add("bg-gray-400", "cursor-not-allowed");
                    organizationSubmitButton.disabled = true;
                }
            });
        });
    </script>
</body>
</html>